.logo {padding: 10px 20px;text-align:left;}
html{padding:10px 200px 10px 200px; background-color:#fff7ec;min-width:500px;}
body{text-align:center;}
section{margin:5px; padding:8px; height:auto;}
section li{display:inline;}
nav{border:1px solid gray; margin:5px; padding:8px;  box-shadow: 1px 1px 5px black;}
nav ul{margin:0;padding:0;}
nav ul li{display:inline;margin:5px;}
ol li{display:block;}
a{color:black; text-decoration:none;}
p{font-size:0.8em;}
footer{text-align:center;}
